aniso8601
beautifulsoup4
certifi
cffi
charset-normalizer
click
cryptography
dataclasses
dnspython
ecdsa
email-validator
Flask
Flask-Cors
Flask-JWT-Extended
flask-mongoengine
Flask-RESTful
Flask-WTF
gunicorn
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
mongoengine
pyasn1
pycparser
PyJWT
pymongo
python-jose
python-opengraph-jaywink
pytz
requests
rsa
six
soupsieve
typing-extensions
urllib3
Werkzeug
WTForms
zipp
