aniso86019.0.1
beautifulsoup44.10.0
certifi2021.10.8
cffi1.15.0
charset-normalizer2.0.9
click8.0.3
cryptography36.0.1
dataclasses0.8
Deprecated1.2.13
dnspython2.1.0
ecdsa0.17.0
email-validator1.1.3
Flask2.0.2
Flask-Cors3.0.10
Flask-JWT-Extended4.3.1
flask-mongoengine1.0.0
Flask-RESTful0.3.9
Flask-WTF1.0.0
gunicorn20.1.0
idna3.3
importlib-metadata4.8.2
itsdangerous2.0.1
Jinja23.0.3
MarkupSafe2.0.1
mongoengine0.23.1
Pillow8.4.0
pyasn10.4.8
pycparser2.21
PyGithub1.55
PyJWT2.3.0
pymongo3.12.3
PyNaCl1.5.0
python-jose3.3.0
python-opengraph-jaywink0.2.1
pytz2021.3
requests2.26.0
rsa4.8
six1.16.0
soupsieve2.3.1
typing-extensions4.0.1
urllib31.26.7
Werkzeug2.0.2
wrapt1.13.3
WTForms3.0.0
zipp3.6.0
